asgiref==3.11.1
azure-core==1.41.0
azure-storage-blob==12.28.0
cart==1.2.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
distlib==0.4.0
Django==6.0.4
django-jazzmin==3.0.4
django-storages==1.14.6
filelock==3.29.0
idna==3.13
isodate==0.7.2
platformdirs==4.9.6
pycparser==3.0
pycryptodome==3.23.0
python-discovery==1.2.2
python-dotenv==1.2.2
razorpay==2.0.1
requests==2.33.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
virtualenv==21.2.4
whitenoise==6.12.0
Django>=4.2,<5.0
gunicorn
whitenoise
dj-database-url
python-decouple
psycopg2-binary
cloudinary
django-cloudinary-storage
Pillow==10.4.0
